/* Main stylesheet */

* {
    margin: 0;
    padding: 0;
}

.header {
	font-family: 'Snowburst One';
	text-align: center;
	background: rgba( 0, 0, 0, .75 );
	box-shadow: 0 0 15px rgba( 255, 255, 255, .2 );
	border-bottom: 1px solid rgba( 255, 255, 255, .2 );
	padding: 10px 0;
	margin-bottom: 25px;
}

.lab-box {
	width: 128px;
	height: 128px;
	box-shadow: 0 0 15px rgba( 255, 255, 255, .2 );
	border: 1px solid rgba( 255, 255, 255, .2 );
	margin: 10px auto;
}

body {
	font-family: tahoma, arial;
	font-size: 16px;
}

#container {
	border: 1px solid #000;
	margin: 15px auto;
	overflow: hidden;
	width: 840px;
}

#sidebar {
	background: black url( '../images/sidebar.png' );
	color: white;
	float: left;
	height: 640px;
	width: 200px;
}

#canvas {
	float: right;
}
