---
---


{% include head.html %}
{% include neck.html %}

{% include header.html %}

<article>
    <section id="intro">
		<div class="container">
			<header>
				Help Us!
			</header>
            Vilify is an open source game. This means that its code is freely
            aviliable for everyone to use and improve. Whether you are a coder,
            artist, musician, game designer, or just someone how likes games, we need
            your help!
        </div>
    </section>
    
    <section id="roadmap">
		<div class="container">
			<header>
				Our Development Roadmap
			</header>
		    Our roadmap is our plan for how we will create Vilify. It is divided
		    into seperate sections such as art, music & sound effect, concepts,
		    and code. Help us complete the goals defined in any of these categories
		    to bring Vilify closer to being an awesome game.
			
			<br><br>
			
			<header>
				Concepts
			</header>
			
			<div class="completion-path">
			    <b>Lightbulb</b> <span>-></span> Neuron <span>-></span> Idea <span>-></span> Mind
			</div>
			
			<div class="description">
			    Have a name and basic description for all the heroes, towers & 
			    monsters written up in the game wiki. No specific stats are 
			    needed yet except for what items it takes to build if the thing 
			    in question is a tower or monster.
                <br>
                <br>
                Example Wiki Write-Ups:
                
                <br>
                <br>
                
                <b>[Tower] Curse Tower</b><br>
                Items: CA<br>
                Applies a curse, dealing DoT damage to all heroes within it's range as well as causing 50% more damage from all sources for afflicted heroes. Has the smallest range of any tower.
                
                <br>
                <br>
                
                <b>[Monster] Scrapyard Robot</b><br>
                Items: T<br>
                A robot thrown together from pieces of junk you found laying around the lab floor. This robot is a quintessential of a basic lab defense mechanism. While not the fastest or most deadly thing around, it doesn't have any major areas of weakness (at least as compared to other devices of its quality).
                
                <br>
                <br>
                
                <b>[Hero] The Samurai</b><br>
                A Samurai from ancient imperial Japan. Raised by an ancient oath to protect the modern world, it retains its deadly skill in combat. Heavily armored and very, very dangerous in close range combat.
			</div>
			
			<br><br>
			
			<header>
				Artwork
			</header>
			
			<div class="completion-path">
			    <b>Sketchbook</b> <span>-></span> Drawing <span>-></span> Painting
			</div>
			
			<div class="description">
			    Have at least one image for each monster, tower, hero, 
			    projectile, and item. There is no need for complete sprite 
			    sheets for animation yet, but these will need to be created 
			    in the future.
			</div>
			
			<br><br>
			
			<header>
				Music & Sound Effects
			</header>
			
			<div class="completion-path">
			    <b>Notes</b> <span>-></span> Tune <span>-></span> Song
			</div>
			
			<div class="description">
			    Have generic sound effects for each any unit (i.e. heroes and 
			    monsters) being hit, kill, attacking, etc. plus generic sound 
			    effects for towers firing a projectile and those projectiles 
			    exploding and/or hitting something. These sound effects should 
			    not yet be specific to different towers/monsters/heroes/etc but 
			    general effect that all of these things share (e.g. all heroes 
			    and monsters will, for now, make the same sound when attacking). 
			    Also have one main background theme song.
			</div>
		</div>
	</section>
</article>

{% include foot.html %}