<!DOCTYPE html>
<html>
	<head>
		<title>Vilify Game</title>

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" charset="UTF-8">

		<!-- Icon -->
		<link rel="shortcut icon" href="{{site.url}}/vilify/favicon.ico">

		<!-- Load stylesheets -->
		<link href='//fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
		<link href="{{site.url}}/vilify/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
		<link href="{{site.url}}/vilify/css/style.css" rel="stylesheet" type='text/css'>